In [1]:
import pandas as pd

In [2]:
calendar_raw = pd.read_csv('./raw/calendar.csv')
response_raw = pd.read_csv('./raw/sales_train_evaluation.csv')
sell_prices_raw = pd.read_csv('./raw/sell_prices.csv')

In [3]:
response_df = response_raw.copy()
d_vars = ["d_{}".format(x) for x in range(1, 1942)]
id_vars = response_raw['id'].str.replace('_evaluation', '')
id_vars = list(id_vars)

In [4]:
val_mat = response_raw[d_vars].values
val_mat = val_mat.transpose()
val_mat

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 6, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [3, 0, 3, ..., 1, 1, 2],
       [0, 0, 0, ..., 0, 1, 5],
       [1, 0, 1, ..., 2, 0, 1]])

In [5]:
val_mat.shape

(1941, 30490)

In [6]:
len(id_vars)

30490

In [7]:
response_df = pd.DataFrame(val_mat, columns=id_vars)
response_df['d'] = d_vars
response_df = pd.merge(response_df, calendar_raw[['date', 'd']], on='d')
# response_df = response_df[['date']]

In [8]:
response_df[['date'] + id_vars]

,date,HOBBIES_1_001_CA_1,HOBBIES_1_002_CA_1,HOBBIES_1_003_CA_1,HOBBIES_1_004_CA_1,HOBBIES_1_005_CA_1,HOBBIES_1_006_CA_1,HOBBIES_1_007_CA_1,HOBBIES_1_008_CA_1,HOBBIES_1_009_CA_1,...,FOODS_3_818_WI_3,FOODS_3_819_WI_3,FOODS_3_820_WI_3,FOODS_3_821_WI_3,FOODS_3_822_WI_3,FOODS_3_823_WI_3,FOODS_3_824_WI_3,FOODS_3_825_WI_3,FOODS_3_826_WI_3,FOODS_3_827_WI_3
0,2011-01-29,0,0,0,0,0,0,0,12,2,...,0,14,1,0,4,0,0,0,0,0
1,2011-01-30,0,0,0,0,0,0,0,15,0,...,0,11,1,0,4,0,0,6,0,0
2,2011-01-31,0,0,0,0,0,0,0,0,7,...,0,5,1,0,2,2,0,0,0,0
3,2011-02-01,0,0,0,0,0,0,0,0,3,...,0,6,1,0,5,2,0,2,0,0
4,2011-02-02,0,0,0,0,0,0,0,0,0,...,0,5,1,0,2,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,2016-05-18,0,0,0,1,0,0,1,5,0,...,3,6,3,0,0,1,0,1,0,0
1937,2016-05-19,3,0,2,3,0,0,0,4,0,...,1,4,3,1,2,0,1,0,1,2
1938,2016-05-20,3,0,3,0,2,5,1,1,0,...,3,4,3,1,1,0,0,1,1,2
1939,2016-05-21,0,0,0,2,1,2,1,40,1,...,0,1,0,0,3,1,1,0,1,5
1940,2016-05-22,1,0,1,6,0,0,0,32,0,...,0,1,1,4,4,1,0,2,0,1

In [9]:
uni_event1 = calendar_raw['event_name_1'].unique().tolist()
uni_event2 = calendar_raw['event_name_2'].unique().tolist()

# filter nan
uni_event1 = uni_event1[1:]
uni_event2 = uni_event2[2:]
uni_events = list(set(uni_event1 + uni_event2))

In [10]:
uni_events

['IndependenceDay',
 'OrthodoxEaster',
 'VeteransDay',
 'PresidentsDay',
 'Cinco De Mayo',
 'Easter',
 'Purim End',
 'StPatricksDay',
 'Pesach End',
 'Halloween',
 'EidAlAdha',
 'MemorialDay',
 'Chanukah End',
 'NewYear',
 'Thanksgiving',
 'LaborDay',
 'ValentinesDay',
 'MartinLutherKingDay',
 'Eid al-Fitr',
 "Mother's day",
 'Christmas',
 'LentWeek2',
 'ColumbusDay',
 'SuperBowl',
 'NBAFinalsStart',
 'Ramadan starts',
 'NBAFinalsEnd',
 'OrthodoxChristmas',
 "Father's day",
 'LentStart']

In [11]:
event_df = response_df[['date']].copy()
event_df[uni_events] = 0
for ev in uni_events:
#     print(event_df.loc[calendar_raw['event_name_1'] == ev, 'date'])
    event_df.loc[calendar_raw['event_name_1'] == ev, ev] = 1
    event_df.loc[calendar_raw['event_name_2'] == ev, ev] = 1

In [13]:
event_df.to_csv('./clean/event_df.csv', index=False)
response_df.to_csv('./clean/response_df.csv', index=False)